@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;500;600&display=swap');
/* Set core root defaults */
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #6e7e8f #000;
  --gradLight: #c7ffdd;
  --gradDark: #ffd26a;
  background: linear-gradient(to bottom, var(--gradDark), var(--gradLight));
  transition: all 0.5s ease-out;
}
html.dark {
  --primary-color: #fff;
  --secondary-color: #000;
  --gradDark: #102128;
  --gradLight: #2d5567;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Encode Sans', sans-serif;
  overflow: auto;
  user-select: none;
  animation: fadeInAnimation 3s ease-out 1 forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html::-webkit-scrollbar {
  display: none;
}

/* MobileFirst ************ */

.toggle:focus {
  outline: none;
}
.themer {
  margin: 2rem auto;
}

.toggleLabel {
  position: relative;
  display: block;
  width: 108px;
  height: 40px;
  border-radius: 3rem;
  background-color: #2d5567;
  border: 1px solid #ccc;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
}
.toggleLabel:before,
.toggleLabel:after {
  display: block;
  position: absolute;
  content: '';
  width: 32px;
  height: 32px;
  border-radius: 50%;
  top: 4px;
  left: 6px;
  transition: 0.5s ease;
}
.toggleLabel:before {
  background-color: #ffa41b;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
}
.toggleLabel:after {
  background-color: #2d5567;
  left: -36px;

  /* transform: scale(0.6); */
}
.toggle[type='checkbox'] {
  display: none;
}
.toggle[type='checkbox']:checked + .toggleLabel:before {
  background-color: #fff;
  transform: translateX(64px);
}
.toggle[type='checkbox']:checked + .toggleLabel:after {
  transform: translateX(96px) scale(1);
}
.digital-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 2rem;
}

/* .time {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 3rem;
  letter-spacing: 6px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
} */

.date {
  font-size: clamp(1.3rem, 2.4vw, 2.4rem);
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-out;
}

.date .circle {
  background-color: var(--primary-color);
  color: #ff6600;
  border-radius: 50%;
  font-weight: 500;
  height: clamp(2rem, 3vw, 3rem);
  width: clamp(2rem, 3vw, 3rem);
  padding: clamp(1.2rem, 2vw, 2rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1.3rem, 2.4vw, 2.4rem);
  margin: 0.2rem 0;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  transition: all 0.3s ease-out;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.clock {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: solid 3px rgb(255, 187, 36);
  position: relative;
  margin-bottom: 1rem;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.hours {
  background-color: var(--primary-color);
}
#hours-hand {
  position: absolute;
  height: 64px;
  right: 116px;
  bottom: 118px;
  width: 4px;
  border-radius: 16px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  transition: all 0.3s ease-out;
  transform-origin: bottom;
}
.minutes {
  background-color: var(--primary-color);
}
#minutes-hand {
  position: absolute;
  height: 105px;
  right: 116px;
  bottom: 118px;
  width: 2px;
  border-radius: 3px;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
#seconds-hand {
  position: absolute;
  height: 105px;
  right: 118px;
  bottom: 118px;
  width: 2px;
  background-color: #ff6600;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
#center {
  background-color: #ff6600;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.5));
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
#center::after {
  content: '';
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.3s ease-out;
}

.weather-app {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}

.search-box {
  width: clamp(12rem, 16vw, 16rem);
  padding: 7px 11px;
  color: #fff;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 3rem;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  background-color: #2d5567;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease-out;
}
.search-box::placeholder {
  opacity: 0.5;
  color: #fff;
}
.location,
.current {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 0;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease-out;
}

/* .location > .date {
  font-size: clamp(1.4rem, 2.2vw, 2rem);
  line-height: calc(1em + 0.7rem);
} */
.location > .city {
  font-size: clamp(1.3rem, 2.4vw, 2.4rem);
}

/* .location div {
  padding: 0.6rem auto;
}

.current div {
  padding: 0.6rem auto;
} */

.current .temp {
  font-size: clamp(2.6rem, 2.5vw, 3.2rem);
  padding-bottom: 1rem;
}

.current .weather,
.current .wind {
  font-size: clamp(1rem, 2vw, 2rem);
  line-height: calc(1em + 0.8rem);
}

@media screen and (min-width: 600px) {
  .themer {
    margin: 0 auto;
  }
  .toggleLabel {
    width: 135px;
    height: 50px;
  }
  .toggleLabel:before,
  .toggleLabel:after {
    width: 40px;
    height: 40px;
    /* top: 5px;
    left: 8px; */
  }
  .toggleLabel:after {
    left: -45px;
    /* transform: scale(0.6); */
  }
  .toggle[type='checkbox']:checked + .toggleLabel:before {
    transform: translateX(80px);
  }
  .toggle[type='checkbox']:checked + .toggleLabel:after {
    transform: translateX(120px) scale(1);
  }
  .digital-clock {
    margin: 2rem auto;
  }
  .date .circle {
    margin: 0.4rem 0;
  }
  .clock {
    height: 19rem;
    width: 19rem;
  }
  #hours-hand {
    position: absolute;
    height: 64px;
    right: 116px;
    bottom: 118px;
  }
  #minutes-hand {
    position: absolute;
    height: 135px;
    right: 147px;
    bottom: 147px;
  }
  #seconds-hand {
    position: absolute;
    height: 135px;
    right: 147px;
    bottom: 147px;
  }
  .search-box {
    padding: 10px 15px;
  }
}
